@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
}
.container {
  flex-direction: column;
}

body,
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 68px;
  margin: 12px;
  letter-spacing: 2px;
}

input {
  background-color: rgba(255, 255, 255, 0.123);
  border: rgba(255, 255, 255, 0.025) 2px solid;
  border-radius: 4px;
  height: 38px;
  width: 320px;
  color: white;
  transition: ease 0.4s;
  padding-left: 10px;
}

input:hover {
  transition: ease 0.4s;
  background-color: rgba(255, 255, 255, 0.11);
}

input:focus {
  transition: ease 0.4s;
  width: 480px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.164);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button {
  background-color: black;
  border: 2px rgba(255, 255, 255, 0.14) solid;
  height: 38px;
  width: 86px;
  color: white;
  border-radius: 4px;
  transition: ease 0.4s;
}

button:hover {
  transition: ease 0.25s;
  background-color: rgba(255, 255, 255, 0.795);
  color: black;
}
