@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
}

body,
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 500px;
}

.static {
  margin-top: 100px;
}

h1 {
  font-size: 68px;
  margin: 12px;
  letter-spacing: 2px;
}

input {
  background-color: rgba(255, 255, 255, 0.123);
  border: rgba(255, 255, 255, 0.025) 2px solid;
  border-radius: 4px;
  height: 46px;
  width: 360px;
  color: white;
  transition: ease 0.4s;
  padding-left: 10px;
}

input:hover {
  transition: ease 0.4s;
  background-color: rgba(255, 255, 255, 0.11);
}

input:focus {
  transition: ease 0.4s;
  width: 500px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.164);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button {
  background-color: black;
  border: 2px rgba(255, 255, 255, 0.14) solid;
  height: 46px;
  width: 86px;
  color: white;
  border-radius: 4px;
  transition: ease 0.4s;
}

button:hover {
  transition: ease 0.25s;
  background-color: rgba(255, 255, 255, 0.795);
  color: black;
}

*,
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#suggestions {
  transition: 0.2s ease;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 2px;
  display: none;
  flex-direction: column;
  position: relative;
  border-radius: 6px;
  width: 500px;
  top: 4px;
}

.box {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.028);
  min-height: 36px;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
